In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\santhosh\anaconda3\lib\site-packages (4.2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pymongo import  MongoClient

In [5]:
santhosh=MongoClient("mongodb://santhosh87:Tamilnaduexpress@ac-g8yodup-shard-00-00.oqaxpwp.mongodb.net:27017,ac-g8yodup-shard-00-01.oqaxpwp.mongodb.net:27017,ac-g8yodup-shard-00-02.oqaxpwp.mongodb.net:27017/?ssl=true&replicaSet=atlas-11wgn5-shard-0&authSource=admin&retryWrites=true&w=majority")

In [7]:
db=santhosh['TelephoneDirectory']

In [8]:
col=db['PersonDetails']

In [12]:
x=[{
    'Name':'Santhosh',
    'Phone Number':9176050415,
    'Place':'vanagaram',
    'Type':'Mobile',
},
{
    'Name':'Aruna',
    'Phone Number':915930744,
    'Place':'Maduravoyal',
    'Type':'Mobile',
},
{
    'Name':'Saravana',
    'Phone Number':26150785,
    'Place':'Annanagar',
    'Type':'Landline',
},
{
    'Name':'Yogan',
    'Phone Number':9176020521,
    'Place':'Mylapaore',
    'Type':'Mobile',
},
{
    'Name':'Jayalakshmi',
    'Phone Number':9444017607,
    'Place':'Bluestar',
    'Type':'Mobile',
},
{
    'Name':'Sudhakar',
    'Phone Number':26261630,
    'Place':'Alwarpet',
    'Type':'Landline',
}]

In [13]:
col.insert_many(x)

In [18]:
for record in col.find({'Type':'Landline'}):
    print(record)

{'_id': ObjectId('6361cbef80b6e0f60f8a85dc'), 'Name': 'Saravana', 'Phone Number': 26150785, 'Place': 'Annanagar', 'Type': 'Landline'}
{'_id': ObjectId('6361cbef80b6e0f60f8a85df'), 'Name': 'Sudhakar', 'Phone Number': 26261630, 'Place': 'Alwarpet', 'Type': 'Landline'}

In [19]:
col.update_one({
    'Name':'Saravana'
},{'$set':{'Type':'Mobile'}})

In [21]:
for record in col.find({'Name':'Saravana'}):
    print(record)

{'_id': ObjectId('6361cbef80b6e0f60f8a85dc'), 'Name': 'Saravana', 'Phone Number': 26150785, 'Place': 'Annanagar', 'Type': 'Mobile'}

In [24]:
col.delete_one({'Name':'Santhosh'})

In [25]:
for record in col.find({},{'_id':0}):
    print(record)

{'Name': 'Aruna', 'Phone Number': 915930744, 'Place': 'Maduravoyal', 'Type': 'Mobile'}
{'Name': 'Saravana', 'Phone Number': 26150785, 'Place': 'Annanagar', 'Type': 'Mobile'}
{'Name': 'Yogan', 'Phone Number': 9176020521, 'Place': 'Mylapaore', 'Type': 'Mobile'}
{'Name': 'Jayalakshmi', 'Phone Number': 9444017607, 'Place': 'Bluestar', 'Type': 'Mobile'}
{'Name': 'Sudhakar', 'Phone Number': 26261630, 'Place': 'Alwarpet', 'Type': 'Landline'}